
<!DOCTYPE html>
<html>
<body>
    <div id="title"></div>
    <br>
    <div id="table"></div>


    <script type="text/javascript">
        var prmsj = {{ prms|tojson }};

        document.getElementById("title").innerHTML = "<table style='width:96%', align='center', border=0><th>User logon attempts</th></table>"

        var out = "<table style='width:96%', align='center', border=1>" +
        "<colgroup><col style='width:25%'><col style='width:25%'><col style='width:50%'></colgroup><tbody>" + 
        "<tr><th>User</th><th>Login attempt status</th><th>Time</th></tr>";
        for(i = 0; i < prmsj.length; i++) {
            out += "<tr><td>" + prmsj[i].user + "</td><td>" + prmsj[i].status + "</td><td>" + prmsj[i].time + "</td></tr>";
        }
        out += "</tbody></table>";
        document.getElementById("table").innerHTML = out;
    </script>
</body>
</html>