[Unit]
Description=Gunicorn instance to serve rsoi_billing_service
After=network.target

[Service]
User=root
Group=nginx
WorkingDirectory=/srv/www/rsoi_services/billing_service
Environment="PATH=/home/amadeus/anaconda3/envs/rsoi_env_36/bin"
ExecStart=/home/amadeus/anaconda3/envs/rsoi_env_36/bin/gunicorn --workers 8 --timeout 120 --bind unix:rsoi_billing_service.sock -m 007 wsgi

[Install]
WantedBy=multi-user.target