<!DOCTYPE html>
<html>
<body>
    <div id="title"></div>
    <br>
    <div id="table"></div>

    <script type="text/javascript">
        var prmsj = {{ prms|tojson }};

        document.getElementById("title").innerHTML = "<table style='width:96%', align='center', border=0><th>Goods in stock</th></table>"

        var out = "<table style='width:96%', align='center', border=1>" +
        "<colgroup><col style='width:25%'><col style='width:75%'></colgroup><tbody>" + 
        "<tr><th>ID</th><th>Title</th></tr>";
        for(i = 0; i < prmsj.length; i++) {
            out += "<tr><td>" + prmsj[i].id + "</td><td>" + prmsj[i].title + "</td></tr>";
        }
        out += "</tbody></table>";
        document.getElementById("table").innerHTML = out;
    </script>
</body>
</html>