[Unit]
Description=Gunicorn instance to serve rsoi_aggregation_service
After=network.target

[Service]
User=root
Group=nginx
WorkingDirectory=/srv/www/rsoi_services/aggregation_service
Environment="PATH=/root/anaconda3/envs/rsoi_env_36/bin"
ExecStart=/root/anaconda3/envs/rsoi_env_36/bin/gunicorn --workers 8 --timeout 120 --bind unix:rsoi_aggregation_service.sock -m 007 wsgi --preload

[Install]
WantedBy=multi-user.target